@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
    background-color: rgb(255, 255, 255);
}
/* shaered element/class */
.dark-1{
    color: #3A3A3A;
}
.dark-2{
    color: #18191F;
}
.dark-3{
color: #787885;
}


/* navbar start from here */

.navigation{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    gap: 200px;
}
.navigation ul{
    display: flex;
    gap: 35px;
}
.navigation ul li{
    list-style: none;
    justify-content:  center;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    
}
.navigation li a img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    
}
.brand{
    font-size: 1.5rem;
    font-weight: bold;
}
@media screen and (max-width:576px) {
    .navigation{
        flex-direction: column;
        gap: 20px;
        width: 90vw;
        margin: 50px auto;
    }
    .navigation ul{
        gap: 20px;
    }
}
@media screen and (max-width:992px) and (min-width:576px) {
    .navigation{
        flex-direction: column;
        gap: 20px;
        width: 90vw;
        margin: 50px auto;
    }
}

/* banner section  */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 130px;
    gap: 100px;
}
.banner-content{
    width: 582px;
    padding-left: 100px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-btn{
    font-weight: bold;
    padding: 10px 24px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: white;
    border: none;
    transition: transform 1s, background-color 1s;
}
.banner-btn:hover{
        transform: scale(1.25);
        background-color: #ce004c;
}
.banner-pic{
    background-image: url("assets/images/Circle\ design.svg");
    height:475px;
    width: 475px;
    background-repeat: no-repeat;
    position: cover;
    align-content: center;
}
.banner-pic img{
    align-content: center; */
    width: 100%;
    
}

@media screen and (max-width:576px){
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
        margin: 50px auto 50px;
        
    }
    .banner-content{
        width: 90vw;
        height: auto;
        text-align: center;
        margin: auto;
        padding:0px;
    }
    .banner-btn{
        margin: auto;
    }
    .banner-title{
        font-size: 1.75rem;
    }
    .banner-pic{
        width: 300px;
        height: 300px;
        background-image: url("assets/images/Circle\ design.svg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        /* border: 1px solid black; */
        
    }
    .banner-pic img{
        width: 100%;
    }
}
@media screen and (max-width:992px) and (min-width:576px){
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
        margin: 50px auto 50px;
        
    }
    .banner-content{
        width: 90vw;
        height: auto;
        text-align: center;
        margin: auto;
        padding:0px;
    }
    .banner-btn{
        margin: auto;
    }
}

/* banner section complete */
.sponsor{
    width: 80vw;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 70px auto 100px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.194);
    border-bottom: 1px solid rgba(0, 0, 0, 0.194);
}

@media screen and (max-width:992px) {
   .sponsor{
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
   }
}

/* sponsor section complete */

/* popular collection section start from here */

.popular-collection{
    text-align: center;
    width: 70vw;
    margin: 20px auto 50px;
}
.collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    margin:10px auto 50px
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.collection-card{
    padding:20px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    transition:transform 1s;
    cursor: pointer;
}
.collection-card:hover{
    transform: scale(1.1);
}

.card-content{
    
    text-align: start;
    
}
.card-title{
    color: #18191F;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 6px;
}
.price{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.collection-card img {
    width: 100%;
}
.card-description{
    color: #787885;
    font-size: 0.87rem;
    font-weight: bold;
    
}
.see-more{
    margin-top: 40px;
    color: #ce004c;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

@media screen and (max-width:576px) {

    .popular-collection{
        margin:auto;
        width: 90vw;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        
    }
    
}
@media screen and (max-width:992px) and (min-width:576px){
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .see-more{
        position: relative;
        right: 40px;
        bottom: 200px;
        font-size: 1.25rem;
        cursor: pointer;
    }
}

/* popular collection section complete */
/* feature product section start from here */

.feature-product{
    width: 75vw;
    margin:10px auto 100px;
    display: flex;
    gap: 90px;
    align-items: center;
}
.product-pic{
    width: 600px;
}
.product-pic img{
    width: 100%;
}
.product-title{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.product-description{
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 16px;
}
.join-now{
    font-weight: bold;
    color: white;
    background-color: #ce004c;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .feature-product{
        flex-direction: column-reverse;
        width: 80vw;
        text-align: center;
        margin-top: 100px;
        gap: 50px;
    }
    .product-pic{
        width: 70vw;
    }
    .join-now{
        margin: auto;
    }
}
/* feature product section complete */

/* footer section start from here */

.footer{
    background-color: rgb(1, 1, 38);
    color: white;
    width: 100vw;
}
.footer-content{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-tilte{
    font-size: 1.5rem;
    font-weight: bold;
}
.copyright{
    font-size: 0.8rem;
    font-weight: bold;
}
.icons img{
    width: 24px;
}
.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
@media screen and (max-width:992px) {
    .footer-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}